@use "src/asset/styles/mixins";
@use "src/asset/styles/var";

.privacyPolicy {
  margin-top: 48px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    @include mixins.body01;
    color: #ffffff;
    opacity: 70%;

    img {
      width: 16px;
      height: 16px;
    }
  }
}