$text-color-second: #232536;
$text-color-prime: #ffffff;
$text-color-three: #6D6E76;
$text-color-title: #592EA9;

$backgound-color-prime: #FFD050;
$backgound-color-second: #ffffff;
$backgound-color-three: #232536;
$backgound-color-icon: #fbf6ea;
$backgound-color-card: #F4F4F4;
$backgound-color-card-active: #FBF6EA;

$border-color-prime: #6D6E76;
$border-color-accent: #FFD050;
$border-color-tree: rgba(109, 110, 118, 1);

$link-color-prime: #592EA9;