$text-color-second: #232536;
$text-color-prime: #ffffff;
$text-color-three: #6D6E76;

$backgound-color-prime: #FFD050;
$backgound-color-second: #ffffff;
$backgound-color-three: #232536;
$backgound-color-icon: #FBF6EA;

$border-color-prime: #6D6E76;
$border-color-accent: #FFD050;
$border-color-tree: rgba(109, 110, 118, 1);